<!-- <table class="table table-hover">
    <tr class="row" width="100%">
        <td width="100%">
 -->            
<div class="card col-md-10">
    <div class="float-xs-right">
        <img src="{{ url_for('static', filename=c.icon(70)) }}" width="100%" height="100%" style="max-width: 70px;max-height: 70px;" />
    </div>
    <p><strong><a href="{{ url_for('add_clothes', item=c.id) }}">{{ c.type }}</a></strong>{% if c.slot or c.slot == 0 %} &#187; <em>{{ config["SLOTS"][c.slot] }}</em>{% endif %}</p>
    <p>{{ c.description }}</p>
</div>
<!--         </td>
    </tr>
</table> -->