{% extends "base.html" %}

{% block content %}
{% include "flash.html" %}
<div class="card" style="height: 140px;">
    <div class="float-xs-right">
        <img src="{{ user.avatar(128) }}" class="img-polaroid">
    </div>
    <h1 class="card-title">{{ user.nickname }}</h1>
    {% if user.about_me %}<p class="card-text">{{ user.about_me }}</p>{% endif %}
    {% if user.last_seen %}<p><em>Sist sett: {{ momentjs(user.last_seen).calendar() }}</em></p>{% endif %}
    <p>
        {% if user.id == g.user.id %}
            <a href="{{ url_for('edit') }}" class="btn btn-primary">Rediger</a>
            <a href="{{ url_for('add_clothes') }}" class="btn btn-primary">Legg til plagg</a>
        {% endif %}
    </p>
</div>
{% if forecast %}
    {% include "forecast.html" %}
{% endif %}
{% if relevant %}
    <div class="col-md-12">
        {% include "relevant_clothes.html" %}
    </div>
{% endif %}
<div class="col-md-12">
    <h3>Mine plagg:</h3>
    {% for c in user.owned_clothes() %}
        {% include "clothing_item.html" %}
    {% endfor %}
</div>
{% endblock %}
